<!DOCTYPE html>
<html>
<head><meta charset="UTF-8"></head>
<body>
			<nav class="sidebar sidebar-open" th:fragment="nav-sidebar">
				<ul class="nav nav-pills">
					<li class="nav-item"><a class="nav-link " href="/"> <i
							class="oi oi-home"></i> <span>Home</span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" >Viajantes</span></li>
					<li class="nav-item"><a class="nav-link"
						href="/viajantes/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar</span>
					</a></li>
					<li class="nav-item"><a class="nav-link"
						href="/viajantes/listar"> <i class="oi oi-spreadsheet"></i>
							<span>Listar </span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active" >Reservas</span></li>
					<li class="nav-item"><a class="nav-link" 
						href="/reservas/cadastrar"> <i class="oi oi-plus"></i> <span>Cadastrar </span>
					</a></li>
					<li class="nav-item"><a class="nav-link" 
						href="/reservas/proximas"> <i
							class="oi oi-spreadsheet"></i> <span>Próximas</span>
					</a></li>
					<li class="nav-item"><a class="nav-link" 
						href="/reservas/listar"> <i
							class="oi oi-spreadsheet"></i> <span>Listar</span>
					</a></li>
				</ul>

				<ul class="nav nav-pills">
					<li class="nav-item"><span class="nav-link active">Gerenciamento</span></li>
					<li class="nav-item"><a class="nav-link" 
						href="/documentos/listar"> <i class="oi oi-spreadsheet"></i> <span>Documentos </span>
					</a></li>
					<li class="nav-item"><a class="nav-link" 
						href="/lancamentos/listar"> <i class="oi oi-spreadsheet"></i> <span>Relatórios </span>
					</a></li>
				</ul>
			</nav>
</body>
</html>