<!DOCTYPE html>
<html layout:decorate="~{layout}"
 	lang="pt" xmlns="http://www.w3.org/1999/xhtml" 
	xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">

<head><meta charset="UTF-8" /></head>
<body>
		
	<section class="layout-content" layout:fragment="corpo">	
		<nav class="navbar navbar-expand-md bg-light">
			<div class="collapse navbar-collapse" id="navbarsExampleDefault">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<i class="oi oi-caret-right"></i>
						<span>Home</span>
					</li>
				</ul>
			</div>
		</nav>
		
		
		<div class="container">
			<div class="title_list">
				<h4> Lançamentos Pendentes
				</h4>
			</div>
			<div class="table-responsible">
				<table class="table table-striped table-hover table-sm">
					<thead>
						<tr>
							<th>Data Lançamento</th>
							<th>Valor Pendente</th>
							<th>Viajante</th>
							<th>Check in</th>
						</tr>
					</thead>
					<tbody>
						<tr th:each="l : ${lancamentosPendentes}">
							<td th:text="${l.dataLancamentoFormatada}" >13/02/2019</td>
							<td th:text="${l.valorFormatado}">900.00</td>
							<td th:text="${l.reserva.viajante.nome}">Maria do Carmo</td>
							<td th:text="${l.reserva.dataEntradaFormatada}">15/02/2019 18:00</td>
						</tr>
					</tbody>
				
				</table>
			
			</div>
			
		</div>
		
	</section>		
</body>
</html>